extends layout

block content
  div.container
    div.panel.panel-default.col-md-12.col-xs-12.animated.fadeIn
      div.col-md-4.col-md-offset-4.col-xs-4.col-xs-offset-4
        img(src="/images/profile.jpg").profile-img
      div.col-md-12.col-xs-12
        h2.text-center Michael Roberts
        h4.text-center.text-muted Digital Investigator, Full-Stack Developer, Software Engineer
          
          
